.changepassword_container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    .changepassword_content {
        width: 68%;

        .form_title {
            font-size: 1.75rem;
            font-weight: 700;
            margin-bottom: 10px;
        }

        .sub_title {
            font-size: 15px;
            color: #9d9d9d;
            margin-bottom: 20px;
        }
    }
}

.divider {
    border-color: #2981ff;
    opacity: 0.2;
    width: 100%;
}

@media screen and (max-width: 64rem) {
    .changepassword_container{
        .changepassword_content{
            width: 100%;
        }
    }
}