.confirm_otp_container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: relative;
    margin: 0 auto;

    .overlay {
        background-color: #353535BF;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .popup_container {
            background-color: white;
            border-radius: 8px;

            .popup_content {
                padding: 1rem;
            }
        }
    }

    .confirm_otp_content {
        width: 68%;

        .form_title {
            font-size: 1.75rem;
            font-weight: 700;
            margin-bottom: 10px;
        }

        .sub_title {
            font-size: 15px;
            color: #9d9d9d;
            margin-bottom: 20px;
        }

        .otp_input_container {
            gap: 18px;
            margin-block: 20px;
            justify-content: center;
            flex-wrap: nowrap;

            .hyphen {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 25%;
            }

            .otp_input {
                border-radius: 12px;
                width: 100%;
                height: 100%;
                font-size: 22px;
                padding: 3px 0;
                outline: none;
            }
        }
    }
}

.divider {
    border-color: #2981ff;
    opacity: 0.2;
    width: 100%;
}