.sidebar_content {
    width: 50%;
}

.scroll_content {
    animation: scroll 6s linear infinite;
}

@keyframes scroll {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-192px);
    }
}