@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

::-webkit-scrollbar {
    width: 0;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: transparent;
}

select {
    appearance: none;
}

html,
body,
#__next {
    height: 100%;
    margin: 0;
    padding: 0;
}

#root,
.container,
.flex-grow {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: hidden;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

select {
    appearance: none;
}